S3method(print,tt_block)
S3method("+",tt_)
exportPattern("^[[:alpha:]]+")
import(data.table)
import(checkmate)
import(stringr)
import(magrittr)
import(tools)
export("%:%")
export("+.tt_")
export("print.tt_block")
export(tt_numeric_column)
export(tt_numeric_row)
export(tt_text_row)
export(tt_rule_top)
export(tt_rule_bottom)
export(tt_rule_mid)
export(tt_rule_mid_partial)
export(tt_spacer_row)
export(tt_tabularize)
export(tt_save)
export(TR)
export(TS)

