exportPattern("^[[:alpha:]]+")
import(data.table)
import(stringr)
import(magrittr)
export("%:%")
export("+.tt_")
export(tt_numeric_column)
export(tt_numeric_row)
export(tt_text_row)
export(tt_rule_top)
export(tt_rule_bottom)
export(tt_rule_mid)
export(tt_rule_mid_partial)
export(tt_spacer_row)
export(tt_tabularize)
export(tt_save)
